html, body, #appWindow {
    background-color: whitesmoke;
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}

/* appWIndow children -> sideBar, chatWindow */

#sideBar {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #000a12;
}

#chatWindow {
    flex: 4;
    display: flex;
    flex-direction: column;
    outline: thick ridge white;
}

#options {
    flex: 1;
    /* background-color: #000a12; */
    display: flex;
}

#recipient {
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: aliceblue; */
}

#msgBox {
    flex: 5;
    display: flex;
    flex-direction: column;
}

#messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 100;
}

#sendCtrls {
    flex: 1;
    /* background-color: #b0bec5; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
/* sideBar children -> id, controls, friends */
#id {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#controls {
    display: flex;
    flex: 1;
    background-color: #000a12;
}

#friends {
    flex: 12;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

#listFriends {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* #listFriends:hover > div {
    zoom: 1;
    filter: alpha(opacity=45);
    opacity: 0.45;
} */

#listFriends > div:hover {
    box-shadow: 3px 3px 15px #263238;
    border-color:#263238;
    background: #263238;
    background-color: #263238;
    /* color: #fff; */
    cursor: pointer;

    /*Opacity*/
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

#text {
    width: 100%;
}

.msgs-from-me {
    background: #fff;
    padding: 5px;
    text-align: center;
    color: black;
    font-family: arial;
    flex-shrink: 1;
    display: flex;
}

.msgs-to-me {
    background: #fff;
    padding: 5px;
    text-align: center;
    color: black;
    font-family: arial;
    flex-shrink: 1;
    display: flex;
}

.thumbnail {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.thumbnail:hover {
    opacity: 0.7;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

.modalContent {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

